<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %} - Merci e-Commerce{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('homepage') }}">Merci Store</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('homepage') }}">Catalogo</a></li>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li>
                            <a href="#">Bem-Vindo: {{ app.user.username }}</a>
                        </li>
                        <li>
                            <a href="{{ path('logout') }}">Logout</a>
                        </li>
                    {% else %}
                        <li><a href="{{ path('login') }}">Login</a></li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{{ path('cart') }}" class="glyphicon glyphicon-shopping-cart">
                            Carrinho
                            {% if app.session.get('cart') %}
                                ({{ app.session.get('cart').quantity }})
                            {% endif %}
                        </a>
                    </li>
                </ul>
                <form action="{{ path('search') }}" class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" name="find"
                               value="{% if find is defined %}{{ find }}{% endif %}"
                               placeholder="Pesquisa"
                               class="form-control">
                    </div>
                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Buscar</button>
                </form>
            </div>
        </nav>

        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-warning alert-dismissable">
                {{ flashMessage }}
            </div>
        {% endfor %}

        {% block body %}{% endblock %}

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
